.select {
    height: 3rem;
    font-size: 1rem;
}
.select span{
    font-size: 1rem;
}

.button {
    display: flex;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(147 51 234);
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.row {
    display: flex;
    gap: 10px;
    justify-content: center;
}